<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd ">
 
 	<context:property-placeholder location="classpath:../properties/config.properties"/>
 	<import resource="classpath:spring-config/spring-core.xml"/>
 	
	<context:component-scan base-package="com.andres.thefirst.books, com.andres.thefirst.security" />
	
	 <!-- Enables the Spring MVC @Controller programming model -->
    <mvc:annotation-driven />
    
	<import resource="./spring-security.xml" />
	
	<bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

         <!-- setting maximum upload size -->
        <property name="maxUploadSize" value="5000000" />
    </bean>


</beans>